#editor > div {
	min-height:300px;
}

#editor > h1 {
	overflow:hidden;
}

#editor ul {
	margin:5px;
}

#editor ul li {
	margin:4px 4px;
	font-size:13px;
}

#editor ul li.label {
	margin-top:10px;
	font-size:15px;
}

#editor ul li input[type=text], #editor ul li textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size:13px;
}

#editor ul li input[type=text] {
	width:50%;
}

#editor ul li textarea {
	width:100%;
	min-height:50px;
}

#editor .widget {
	width:25px;
	height:25px;
}

#editor .widget.namespace {
	background-image:url("/images/core/namespace.png");
}
#editor .widget.object {
	background-image:url("/images/core/object.png");
}
#editor .widget.constant {
	background-image:url("/images/core/constant.png");
}
#editor .widget.attribute {
	background-image:url("/images/core/attribute.png");
}

#editor .reference > .droppable {
	height:20px;
	line-height:20px;
	display: inline-block;
	min-width: 100px;
}
