#toolbar .widget {
	width:30px;
	height:30px;
	margin:2px 8px;
}

#toolbar .widget.namespace {
	    background-image:url("/images/core/namespace.png");
}
#toolbar .widget.object {
	    background-image:url("/images/core/object.png");
}
#toolbar .widget.constant {
	    background-image:url("/images/core/constant.png");
}
#toolbar .widget.attribute {
	    background-image:url("/images/core/attribute.png");
}
#toolbar .widget.trash {
	background-image:url("/images/core/trash.png");
}
#toolbar .widget.transfer {
	background-image:url("/images/core/transfer.png");
}
