#tree > div {
	min-height:300px;
}

#tree > div > div {
	padding:0px;
}

#tree > div > h3 > *,#tree > div ul li > *,#tree > div ul li > div > * {
	vertical-align:middle;
	cursor:pointer;
}

#tree > h2 > * {
	vertical-align:middle;
}

#tree ul {
	height:100%;
	box-sizing:border-box;
	padding-left:20px;
}

#tree .widget {
	width:20px;
	height:20px;
	display:inline-block;
}

#tree .ui-icon {
	display:inline-block;
}

#tree .widget.namespace {
	background-image:url("/images/core/namespace.png");
}
#tree .widget.object {
	background-image:url("/images/core/object.png");
}
#tree .widget.constant {
	background-image:url("/images/core/constant.png");
}
#tree .widget.attribute {
	background-image:url("/images/core/attribute.png");
}

#tree .widget.data {
	background-image:url("/images/core/data.png");
}
