body{
	margin:0;
	padding:0;
	font-size:12px;
	font-family:verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	background-color:#FFFFFF;
}

a{outline:none; text-decoration:none;}
img{display:block; margin:0; padding:0; border:none;}
ul{ margin:0;padding:0;list-style:none;overflow:hidden; }
.center{text-align:center;}
.clear{clear: both;}
.draggable {z-index:9999; cursor:pointer;}
.droppable {
	border:1px dashed lightgrey;
	background-repeat:no-repeat!important;
	background-position:center;
	background-color:rgba(245,245,245,0.8);
}
.droppable.empty {
	background-image:url("/images/common/droppable.png");
}
.droppable.empty.small {
    background-image:url("/images/common/droppable-small.png");
	background-color:rgba(235,235,235,0.8);
}

.float-left{float:left;}
.float-right{float:right;}
.hidden {display:none;}
/* -------------------------------------------Widgets-------------------------------------------*/
.widget {
	background-size:cover;
	border:1px solid transparent;
}
.widget:hover {
	border:1px solid lightgrey;
	filter:contrast(200%);
	-webkit-filter:contrast(200%);
	-moz-filter:contrast(200%);
	-o-filter:contrast(200%);
	-ms-filter:contrast(200%);
}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
	position:relative;
	float:left;
	width:100%;
	margin:0;
	text-align:left;
}

div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
	margin:0;
	padding:0;
	font-size:20px;
	font-weight:normal;
	line-height:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.col0{color:#FFFFFF; background-color:#2D3134; border-top:0px solid #4A5155;}

.col1, .col1 a{color:#C4C5C3; background-color:#2D3134;}

.col2{color:#FFFFFF; background-color:#02ACEE; padding:5px 0}

.col3{color:#666666; background-color:#FFFFFF;}
.col3 a{color:#02ACEE; background-color:#FFFFFF;}

.col4, .col4 a{color:#666666; background-color:#1B1B1B;}

/* ----------------------------------------------Generalise-------------------------------------*/

#header, #topbar, #topnav, #toolbar, #container, #footer, #copyright{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
}

/*---------------------Header-------------------*/
#header{
	padding:0 0 20px 0;
}

#header #logo{
	display:block;
	float:left;
  	width:300px;
  	margin-top:7px;
	overflow:hidden;
}

#header #logo h1, #header p, #header ul{
	margin:0;
	padding:0;
	list-style:none;
	line-height:normal;
}

#header #logo h1{
	font-size:32px;
}

#header #topnav{
	display:block;
	float:right;
	width:650px;
	margin:30px 0 0 0;
	padding:0;
	font-size:13px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:right;
}
	
#header ul{
	margin:0;
	padding:0;
	list-style:none;
}

#header li{
	display:inline;
	margin-right:35px;
}

#header li a:link, #header li a:visited, #header li a:hover{
	margin:0;
	padding:0 3px 10px 3px;
	color:#FFFFFF;
	background-color:#2D3134;
	border-bottom:1px solid #2D3134;
}

#header li a:hover, #header li.active a{
	color:#02ACEE;
	background-color:#2D3134;
	border-bottom-color:#02ACEE;
}

#header #topnav li.last{
	margin-right:0;
}

/* ----------------------------------------------Container-------------------------------------*/
#container{
	padding:20px 0;
}   

#container > div > h1, #container > div > h2, #container > div > h3, #container > div > h4, #container > div > h5, #container > div > h6 {
	font-size:20px;
	margin:0 0 5px 0;
	padding-bottom:8px;
	color:#666666;
	background-color:#FFFFFF;
	border-bottom:1px dotted #999999;
}

/*--------------------------------------Editor-------------------------------------*/
#editor {
	display:block;
	float:left;
	width:600px;
}

/* --------------------------------------Tree-------------------------------------*/
#tree {
	display:block;
	float:right;
	width:340px;
}
