#list {
	margin-top:20px;
}

#list > div {
	min-height:100px;
}

#list > h1 {
	overflow:hidden;
}

#list > div > div {
	box-sizing:border-box;
	width:100%;
}

#list > div > div ul {
	min-height:100px;
}

#list > div > h3 {
}

#list > div > h3 > * {
	vertical-align:middle;
	line-height:25px;
}

#list ul li {
	overflow:hidden;
}

#list ul li > * {
	vertical-align:middle;
	line-height:25px;
}

#list > div .widget {
	float:left;
}

#list .widget.data {
	background-image:url("/images/web/data.png");
}
